@model Project_LMS.Models.Danh_sách_giáo_viên

@{
    ViewBag.Title = "Create";
}
<link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />

<h2>Thêm giảng viên</h2>


@using (Html.BeginForm())  
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Thông tin giảng viên</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="infor-teacher">
    <div class="left">
        <div class="form-group">
            @Html.LabelFor(model => model.Magiangvien, "Mã giáo viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Magiangvien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Magiangvien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hovaten, " Họ và tên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hovaten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hovaten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gioitinh, "Giới tính", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Gioitinh, (IEnumerable<SelectListItem>
                   )(new[] {
                   new SelectListItem() { Text = "Nam" },
                   new SelectListItem() { Text = "Nữ" },
                   }), "Chọn giới tính", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gioitinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaysinh, "Ngày sinh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaysinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngaysinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoCMND, "CMND/CCCD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoCMND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoCMND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycap, "Ngày cấp", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaycap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngaycap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Noicap, "Nơi cấp", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Noicap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Noicap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ngayvaotruong, "Ngày vào trường", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngayvaotruong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngayvaotruong, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="right">
        <div class="form-group">
            @Html.LabelFor(model => model.SoBHXH, "Số sổ BHXH", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoBHXH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoBHXH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Trinhdodaotao, "Trình độ đào tạo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Trinhdodaotao, (IEnumerable<SelectListItem>
                  )(new[] {
                  new SelectListItem() { Text = "Đại học" },
                  new SelectListItem() { Text = "Cao đẳng" },
                  }), "Chọn Trình độ đào tạo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Trinhdodaotao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chucvu, "Chức vụ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Chucvu, (IEnumerable<SelectListItem>
                  )(new[] {
                  new SelectListItem() { Text = "Giảng viên" },
                  new SelectListItem() { Text = "Trưởng bộ môn" },
                  new SelectListItem() { Text = "Trưởng Khoa" },
                  new SelectListItem() { Text = "Phó khoa" },
                  }), "Chọn chức vụ", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Chucvu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tobomon, "Tổ bộ môn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tobomon, (IEnumerable<SelectListItem>
                   )(new[] {
                   new SelectListItem() { Text = "Khoa học máy tính" },
                   new SelectListItem() { Text = "Toán - Tin" },
                   new SelectListItem() { Text = "Kinh tế - Chính trị" },
                   }), "Chọn tổ bộ môn", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tobomon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngayapdungchucvu, "Ngày áp dụng chức vụ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngayapdungchucvu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngayapdungchucvu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaybatdaulamviec, "Ngày bắt đầu làm việc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaybatdaulamviec, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngaybatdaulamviec, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Trangthai, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Trangthai, (IEnumerable<SelectListItem>
                  )(new[] {
                  new SelectListItem() { Text = "Sắp giảng dạy" },
                  new SelectListItem() { Text = "Đang giảng dạy" },
                  new SelectListItem() { Text = "Ngừng giảng dạy" },
                  }), "Chọn Trạng thái", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Trangthai, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
   </div>
        <h4>Thông tin lương</h4>
 

    <div class="form-group">
        @Html.LabelFor(model => model.Loaihopdong, "Loại hợp đồng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Loaihopdong, (IEnumerable<SelectListItem>
                  )(new[] {
                  new SelectListItem() { Text = "Hợp đồng thử việc" },
                  new SelectListItem() { Text = "Biên chế" },
                  }), "Chọn Loại hợp đồng", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Loaihopdong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Luongcoban, "Lương cơ bản", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Luongcoban, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Luongcoban, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngach_hang, "Ngạch hạng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ngach_hang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ngach_hang, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mangach, "Mã ngạch", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mangach, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mangach, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bacluong, "Bậc lương", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bacluong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bacluong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hesoluong, "Hệ số lương", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hesoluong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Hesoluong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngayapdungngachbac, "Ngày áp dụng ngạch bậc", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ngayapdungngachbac, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ngayapdungngachbac, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phucap, "Phụ cấp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phucap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phucap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
